.header {
    z-index: 2000;
    animation: fadeIn 1s ease-in-out;
    align-self: flex-end;
    animation: slideOut 0.5s ease-in-out;
  }
  
  .navbar-toggler {
    border: none;
    outline: none;
  }
  /* Change the background color of the navbar */
.navbar {
    background-color: #343a40 !important; /* dark background */
  }

  .navbar-expand-lg .navbar-collapse{
    display: flex;
    justify-content: space-around;
  }

  

  .navbar-expand-lg .navbar-nav {
    width: 100%;
    justify-content: space-evenly;
}




  /* Change the text color of the navbar links */
  .navbar-nav .nav-link {
    color: #ffffff !important; /* white text */
    font-size: 1rem; /* initial font size */
    transition: font-size 0.3s ease, color 0.3s ease; /* smooth transition */
  }
  
  /* Change the text color and size on hover */
  .navbar-nav .nav-link:hover {
    color: #ffc107 !important; /* gold text */
    font-size: 1.2rem; /* larger font size */
  }
  
  
  .nav-link {
    color: white !important;
    animation: slideIn 0.5s ease-in-out;
  }
  
  .show {
    display: block !important;
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

  /* Header.css */

.navbar-custom {
  background-color: #000000; /* Very dark color */
}

.navbar-custom .nav-link {
  color: #ffffff; /* Ensure the text is visible */
}

.navbar-custom .navbar-toggler {
  border-color: #ffffff; /* Ensure the toggler is visible */
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
