.project {
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project:hover {
    transform: scale(0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project img {
    width: 100%;
    height: auto;
}


